html, body, #map {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #222327;
  }

  #basemapToggleDiv {
    position: absolute;
    top: 80px;
    right: 25px;
    z-index: 50;
  }



  .itemBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 15px; */
    color: #EFEFEF;
  }

  .mainNavBox{
    border: 3px solid #3C3C3E ;
  }

  /* .logo{
    width: 25px;
    height:25px;
    background-image: url('./img/eqMap');
  } */

  
  